<section class="main row" *ngIf="todos.length > 0">
    <ul class="todo-list col-12">
        <li *ngFor="let todo of todos" [class.completed]="todo.complete">

            <app-to-do-list-item
                    [todo]="todo"
                    (toggleComplete)="onToggleToDoComplete($event)"
                    (remove)="onRemoveToDo($event)"
                    class="row">
            </app-to-do-list-item>

        </li>
    </ul>
</section>

