<div class="container">
    <div class="starter-template">

        <section class="todoapp">

            <app-todo-list-header
                    (add)="onAddToDo($event)">
            </app-todo-list-header>

            <app-to-do-list
                    [todos]="todos"
                    (toggleComplete)="onToggleToDoComplete($event)"
                    (remove)="onRemoveToDo($event)"
            ></app-to-do-list>

            <app-to-do-list-footer
                    [todos]="todos"
            ></app-to-do-list-footer>


        </section>

    </div>
</div>
