<footer class="row" *ngIf="todos.length > 0">
                 <span class="todo-count col-12">
                    <strong>{{todos.length}}</strong>
                     {{todos.length == 1 ? 'item' : 'items'}} left
                 </span>
</footer>
