<div class="input-group mb-3 col-12">

    <div class="input-group-prepend">
        <div class="input-group-text list-group-item-primary">
            <input type="checkbox" class="checkbox-toggle"
                   id="{{todo.title}}-{{todo.id}}"
                   [checked]="todo.complete"
                   (click)="toggleToDoComplete(todo)">
        </div>
    </div>

    <label type="text" for="{{todo.title}}-{{todo.id}}"
           class="form-control checkbox-toggle">{{todo.title}}</label>

    <div class="input-group-append">
        <button class="btn btn-danger"
                type="button"
                (click)="removeToDo(todo)">&times;
        </button>
    </div>

</div>
