<header class="header">
    <div class="row">
        <h1 class="col-12">ToDos</h1>
        <input class="new-todo form-control form-control-lg col-12"
               placeholder="What needs to be done?"
               autofocus=""
               id="getToDo"
               [(ngModel)]="newToDo.title" (keyup.enter)="addToDo()">
    </div>
    <br>
</header>
